body {
    background: url('https://img.freepik.com/vector-premium/fondo-tecnologia-datos-digitales-alta-tecnologia_29971-1153.jpg?w=826') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }